! Xft settings

Xft.dpi:        96
Xft.antialias:  true
Xft.rgba:       rgb
Xft.hinting:    full
Xft.hintstyle:  hintslight

URxvt*.urgentOnBell: true
URxvt*.visualBell: false

URxvt*.scrollBar: false

URxvt*.font: xft:hack:Regular:size=8
URxvt*.letterSpace: -1

URxvt*.cursorBlink: true
URxvt*.cursorUnderline: true

! Relic Dark colors
*background: #4D5456
*cursorColor: #BE5E1E

*color0:  #39474A
*color1:  #986345
*color2:  #788249
*color3:  #9B6A46
*color4:  #3E5951
*color5:  #B9924A
*color6:  #5d796a
*color7:  #977D5E
*color8:  #4C5F63
*color9:  #B07350
*color10: #869151
*color11: #AF6B42
*color12: #567A6E
*color13: #D69D55
*color14: #668574
*color15: #AB9C71
