[colors]

# special
foreground      = #aaa7bb
foreground_bold = #aaa7bb
cursor          = #aaa7bb
background      = #272127

# black
color0  = #2d2c32
color8  = #42424f

# red
color1  = #cd2c43
color9  = #de596d

# green
color2  = #70953d
color10 = #a2c166

# yellow
color3  = #de6d2c
color11 = #eba34f

# blue
color4  = #4346be
color12 = #7083cd

# magenta
color5  = #823497
color13 = #a56cb5

# cyan
color6  = #268f91
color14 = #57a6a0

# white
color7  = #586877
color15 = #8ab4c3
